.unselectable {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 600px) {
    .fullscreen-modal {
        width: 100% !important;
        height: 100% !important;
        max-height: 100% !important;
        top: 0px !important;
    }
}