.unselectable {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fullscreen-modal {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    top: 0 !important;
}

.centered-img {
    display: block !important;
    margin: auto;
}

.close-btn {
    font-size: 35px;
    position: absolute;
    right: 3%;
    top: 1%;
}
